@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

#hike-map {
  height: 28rem;
  border: 1px solid #d9d9d9;
}
.hike-track-casing {
  stroke: #d40000;
  stroke-width: 12px;
  stroke-opacity: 0.8;
}
.hike-hour-boundary {
  fill: #d40000;
  fill-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2px;
  stroke-opacity: 1;
}
.hike-track {
  stroke: #fff;
  stroke-width: 6px;
  stroke-opacity: 1;
}

svg#hike-plot {
  margin: 1rem 0;
  width: 100%;
  display: block;
}
.hike-plot-line {
  fill: none;
  stroke: var(--text-accent);
  stroke-width: 2px;
}
.hike-plot-area { fill: var(--text-accent); fill-opacity: 0.5; }
.hike-plot-grid { stroke: var(--bg-mild); stroke-width: 1px; }
.hike-plot-ylabel {
  text-anchor: end;
  dominant-baseline: middle;
  fill: var(--text-dim);
}
.hike-plot-xlabel {
  text-anchor: middle;
  fill: var(--text-dim);
}
.hike-plot-xtitle {
  text-anchor: middle;
  fill: var(--text-dim);
}
.hike-plot-ytitle {
  text-anchor: middle;
  fill: var(--text-dim);
}
